@font-face {
  font-family: f1-font;
  src: url(assets/Formula1-Regular.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: f1-font;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(54, 46, 46, 0.9)), url('assets/background-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main-icon {
  margin: 0.2em;
  filter: invert(1);
}

.reaction-check-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lamps {
  display: flex;
  justify-content: center;
}

.lamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.75em;
  gap: 1em;
  border: 0.2em solid white;
  background-color: rgb(0, 0, 0);
  width: 5em;
  height: 10em;
  margin: 0.5em;
  padding: 0.2em;
}

.light {
  border: 0.2em solid white;
  background-color: rgb(48, 46, 43);
  height: 3.5em;
  width: 3.5em;
  border-radius: 3em;
}

.action-button {
  font-family: f1-font;
  margin: 0.5em;
  font-size: 2em;
  border: 0.1em solid red;
  border-radius: 0.3em;
  padding: 0.25em;
}

.action-button:hover {
  transform: scale(1.1);
}

.basic-info {
  margin: 0.25em;
  text-align: center;
}

.time-text {
  color: white;
}

#primary-time-text {
  font-size: 1.6em;
  font-weight: 1000;
}

#secondary-time-text {
  font-size: 1em;
  font-weight: 500;
}

#again-button {
  visibility: hidden;
}

#go-button {
  visibility: visible;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 55%;
    background-position: 19% 81%;
  }

  .action-button {
    height: 3em;
    width: 8em;
  }
}